
:root {
  --brand100: "hsl(230, 57%, 50%)";
  --brand200: "hsl(230, 68%, 54%)";
  --gray100: "hsl(210, 11%, 15%)";
  --gray200: "hsl(210, 10%, 23%)";
  --gray300: "hsl(210, 9%, 31%)";
  --gray400: "hsl(210, 7%, 56%)";
  --gray500: "hsl(210, 11%, 71%)";
  --gray600: "hsl(210, 16%, 93%)";
  --gray700: "hsl(210, 17%, 95%)";
  --gray800: "hsl(210, 17%, 98%)";
  --gray900: "hsl(200, 100%, 99%)";
  --alert100: "hsl(349, 57%, 50%)";
  --alert200: "hsl(349, 69%, 55%)";
  --sucess100: "hsl(162, 88%, 26%)";
}

body {
  font-family: "Inter, sans-serif";
}

.containerToast{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 2rem;

  box-shadow: 3px 3px 3px;

  animation: toastin 2s linear;
  z-index: 0;
}
.containerToast>p{
  color: var(--gray100);
}
@keyframes toastIn{
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes toastOut{
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

.toastAdd{

}
